@charset "utf-8";
/* CSS Video Blog */
.box-um{ width:450px; height:190px; background-color:#eeedea; margin:0px}
.box-dois{ widows:140px; height:180px; padding-left:10px; float:left;}
.box-tres{widows:140px; height:180px; padding-left:10px;float:left;}
.box-quatro{widows:140px; height:180px; padding-left:10px;float:left;}