.main { width:788px; background:#FFF; padding:10px 0 10px 0; float:right; }
.top-content { width:773px; background:#E5E5E5; border:1px solid #D4D4D4; float:left; background-color: #333;}
.main-content { width:570px; margin-top:10px; float:left; background-color: #dc3f25 }
.right-content { width:195px; background:#EAEAEA; margin-top:10px; margin-bottom:10px; padding:5px; float:right; background-color: #25a6dc; }
.bottom-content { width:773px; background:#EAEAEA; margin-top:10px; margin-bottom:10px; padding:5px; margin-left:15px; margin-top:0; float:left; }



