/* Por Emanuel Augusto - erstuv@gmail.com */
/* RELATÓRIO PLANETA MPI */

* {list-style:none; margin:0; padding:0; font-family:arial; font-size:12px;}
body {}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
input[type=submit] {color:#14435e; font-size:12px; font-weight:bold;}
h2 { color:#ff6701; text-align:center;  font-size:14px; font-weight:bold;}
.ctn {width:1008px; margin:50px auto 0 auto;}
.header {background:url(../img/topo.jpg) no-repeat;  height:70px; margin-bottom:35px;}

.ctnAll {}
.ctnAll .block{ margin:25px 0;}
.ctnAll .descr {margin:8px 5px;font-size:14px; font-weight:bold; }
.ctnAll .tblock {background:url(../img/titulo_bloco.jpg) no-repeat;  height:30px; color:#fff; margin:6px 0; font-size:18px; font-weight:bold; padding:0 10px; line-height: 27px;}
.ctnAll .cblock  {border:1px solid #ccc;margin:6px 3px; padding:6px;-moz-border-radius: 10px;	-webkit-border-radius: 10px; border-radius: 10px;}
.ctnAll .bgcblock {background:#fff url(../img/bgcblock.jpg) repeat-x;} /*Class para bg degrade*/
.footer {}

