/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0 0 0 0;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: Verdana, Arial, Tahoma;
	font-size: 12px;
	color: #333333;
}



a:link {
	color: #235c96;
}

a:hover, a:active {
	text-decoration: none;
	color: #235c96;
}

a:visited {
	color: #235c96;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

/* Header */

#header {
	/*width: auto;*/
	height: 42px;
	margin: auto auto auto auto;
}

#logo {
	font-size: 18px;
}

#logo h1 {
	font-size: 38px;
	color: #494949;
}

#logo h1 sup {
	vertical-align: text-top;
	font-size: 20px;
}

#logo h1 a {
	color: #494949;
}

#logo h2 {
	margin-top: -10px;
	font-size: 12px;
	color: #A0A0A0;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 30px;
	padding: 7px;
	text-decoration: none;
	font-size: 12px;
	color: #000000;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	background: url(images/img02.gif) repeat-x left bottom;
}

/* Page */

#page {
	margin: 0 auto;
}

/* Content */

#content {
	display: inline;
}

/* Post */

#post {
	width: 50%;
}


/* Sidebar */

#sidebar {
	float:right;	
	width: 20%;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2 {
	margin-bottom: 10px;
	background: url(images/img03.gif) repeat-x left bottom;
	font-size: 16px;
}

/* Search */

#search {
}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 120px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #F0F0F0;
}

#x {
	padding: 3px;
	background: #ECECEC url(images/img08.gif) repeat-x left bottom;
	border: none;
	text-transform: lowercase;
	font-size: 11px;
	color: #4F4F4F;
}

/* Boxes */

#box1 {
	float:left;
	width: 35%;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	background: url(images/img10.gif) repeat-x left bottom;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */

#footer {
	height: 10px;
	color: #FFFFFF;
	padding: auto 0 0 0;
	background: #003448 url(images/img09.gif) repeat-x;
}

html>body #footer {
	height: auto;
}

#footer .wrap {
	margin: auto auto;
}

#legal {
	clear: both;
	padding-top: 20px;
	text-align: center;
	color: #375C69;
}

#legal a {
	color: #476B77;
}

#fbox1, #fbox2, #fbox3 {
	float: left;
}

#fbox1 {
	width: 310px;
}

#fbox2 {
	width: 200px;
	padding-left: 70px;
}

#fbox3 {
	width: 200px;
	padding-left: 70px;
}

/* ------- barra Brasil --------*/
#barrabrasil{ background:#ffcc00; height:40px;}
#barrabrasil .sele{ position:absolute; top:7px; }
#barrabrasil .brasil{position:absolute; top:5px; float:right;}


#portlet-comunidades {}

.message-inst {
        text-align: center;
        color: #666600;
        background-color: #ffffb5;
        border: 1px solid #cccc66;
        padding: 4px;
}

.messages {
        text-align: center;
        color: #666600;
        background-color: #ffffb5;
        border: 1px solid #cccc66;
        padding: 4px;
}
