@charset "utf-8";

/*
	Ministério do Desenvolvimento Agrário - Terra Legal
	Site: http://www.mda.gov.br/terra_legal
	Autor: Thiago Melo
	E-mail: thiago.melo@mda.gov.br
	Design: Thiago Melo
	Programação: Alessandro Landim e Breno Assunção
	Folha de estilos para o Internet Explorer 7
*/

/*..... Hacks .....*/
.menu { margin-left:0; margin-top:209px; }
.header .search { position:absolute; }
/*...................................................*/
