#sidebar-1 { width:100%; float:left; }
#main-content { width:100%; float:left; }
#sidebar-2 { width:100%; float:left; }
.main-content-padding { padding:0px; }
.sidebar-1-padding { padding:0px; }
.sidebar-2-padding { padding:0px; }